body{
   /* background: linear-gradient(to right, #32a897, #32a881);*/
    background-image: url(/public/images/cats-background.jpg) no-repeat center center;
}

.container{
    text-align: center;
    border-radius: 5px;
  
}

.container h1{
    margin: 25px 0px;
    font-family: 'Noto Sans Mono', monospace;

}
.cardlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
